.git
.gitignore
.env
.env.*
*.md
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.vercel
.vercelignore
npm-debug.log
yarn-error.log
